<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AppStartup" value="ReportWeb.Startup" />
    <add key="ConnStr" value="DefaultEndpointsProtocol=https;AccountName=funcstorage001;AccountKey=XTZ5CZRp6FcUSU6P3XtCaaWZ+AHLR5OUMqq8AaFbVtZWqxFcWq+1cW0gc5ZXBP/hho9lk7ThpmU+hCnZLT9qpw=="/>
  </appSettings>

</configuration>
